
<body style="color: white;" >


<div>
<button (click)="showComponent(1)">Admin</button>
<button (click)="showComponent(2)">User</button>

</div>

<div *ngIf="isShowComp==1">
  <app-adminlogin (sendDataToParent)="getFromChild($event)"></app-adminlogin>
</div>

<div *ngIf="isShowComp==2">
  <br>
  <button [disabled]="userLog==1" (click)="login(1)">Log in</button>
  <button [disabled]="userLog==2" (click)="login(2)">Registration</button>
  <button [disabled]="userLog==3" (click)="login(3)">Password Reset</button>
<div *ngIf="userLog==1">
  <app-userlogin (sendDataToParent)="getFromChild($event)"></app-userlogin>
</div>
<div *ngIf="userLog==2">
  <app-userregister></app-userregister>
</div>
<div *ngIf="userLog==3">
 <app-userpassreset></app-userpassreset>
</div>
</div>
</body>

