<br>
<div *ngIf="isValidUser==0" style="text-align: left; width: 1000px">
  <fieldset>
    <legend>User Login</legend>
  <table>
      <tr>
          <td style ="width:30%;">
              Username:
          </td>
          <td>
              <input type="textbox" placeholder="enter username" #username/>
          </td>
      </tr>
      <br>
      <tr>
           <td>
              Password
          </td>
          <td>
              <input type="textbox" placeholder="enter password" #password/>
          </td>
      </tr>
      <br>
  </table>
  <button (click)="loginData(username.value, password.value)">Login</button>
  </fieldset>
</div>

<div *ngIf="isValidUser==1">
  <app-userhomepage></app-userhomepage>
</div>
